* {
    box-sizing: border-box;
    background-color: whitesmoke;
    outline: 0px solid red;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: DarkSlateGray;
    border-radius: 3px;
}

.calc-container {
    background-color: BlanchedAlmond;
    border: 3px solid darkslategray;
    margin: 25px auto;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calc-content {
    height: 100vh;
}

.calc-container * {
    background-color: BlanchedAlmond;;
}

.calc-buttons {
    display: flex;
    max-width: 330px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;
}

.calc-button {
    padding: 3px;
    width: 50px;
    height: 30px;
    border: 3px solid SaddleBrown;
    background-color: Orange;
    flex-shrink: 1;
}

button:disabled {
    background-color: LightSalmon;
    color: lightslategray;
    border-color: lightslategray;
}

.number {
    background-color: Gold;
}

.calc-display {
    max-width: 350px;
    min-width: 278px;
    margin: 25px 0px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: LightGray;
    border: 3px solid DarkSlateGray;
}

.calc-display > * {
    font-size: xx-large;

    background-color: LightGray;
    overflow: hidden;
}

.active {
    background-color: OrangeRed;
}

.footer, .footer * {
    width: 100%;
    background-color: darkslategray;
    color: antiquewhite;
    border-radius: 0px;
}