* {
    box-sizing: border-box;
    background-color: BlanchedAlmond;
    outline: 0px solid red;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: DarkSlateGray;
    border-radius: 3px;
}

.calc-container {
    margin: auto;
    width: 500px;
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.calc-buttons {
    padding: 25px;
    display: flex;
    width: 400px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calc-button {
    padding: 3px;
    width: 50px;
    height: 30px;
    border: 3px solid SaddleBrown;
    background-color: Gold;
}

.calc-result {
    width: 400px;
    padding: 10px 25px;
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
    align-self: flex-end;
    background-color: LightGray;
    border: 3px solid DarkSlateGray;
}